*{
    box-sizing: border-box;
}
.site {
    margin: 0% 10%;
    background-color: darkgray
}
.site h1 {
    text-align: center;
    font-family: courier;
    font-weight: 100;

}
img {
    width: 30%;
    margin: 17px
}
